
body {
    font-family: 'Arial', sans-serif;
}
#about img {
    max-width: 100%;
    height: auto;
}

#projects .card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #f8f9fa;
}
/* Styling untuk header */
header.jumbotron {
    background-image: url('gundam2.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff; /* Warna teks putih agar kontras dengan latar belakang */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Bayangan teks untuk meningkatkan kontras */
    padding: 4rem 2rem; /* Padding untuk menyesuaikan jarak konten dengan tepi */
    margin-bottom: 2rem; /* Margin bawah untuk memberikan ruang di bawah header */
    position: relative; /* Memastikan posisi header relatif */
}

header.jumbotron h1.display-4 {
    font-size: 3.5rem; /* Ukuran font untuk judul utama */
    font-weight: bold; /* Ketebalan font */
    animation: slideInDown 1s ease-out; /* Animasi masuk dari atas */
}

header.jumbotron p.lead {
    font-size: 1.5rem; /* Ukuran font untuk paragraf lead */
    animation: fadeIn 1.5s ease-out; /* Animasi muncul */
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

}
